<html>
    <head>
        <title>Página de gestión de eventos</title>
    </head>
    <body>
        <div>
            <h1><a href="">Eventos</a></h1>
        </div>

        {% for evento in eventos %}
            <div>
                <p> Fecha de creación: {{ evento.fecha_creacion }}</p>
                <h1><a href="">{{ evento.nombre }}</a></h1>
                <p> Categoría: {{ evento.categoria|linebreaksbr }}</p>
                <p> Lugar: {{ evento.lugar|linebreaksbr }}</p>
                <p> Dirección: {{ evento.direccion|linebreaksbr }}</p>
                <p> Fecha Inicio: {{ evento.fecha_inicio|linebreaksbr }}</p>
                <p> Fecha Fin: {{ evento.fecha_fin|linebreaksbr }}</p>
                <p> Tipo Evento: {{ evento.tipo_evento|linebreaksbr }}</p>
            </div>
        {% endfor %}
    </body>
</html>
